#demo-1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #999;
  min-height: 640px;
  display: grid;
  align-items: center;
}

@media (max-width: 800px) {
  #demo-1 {
    min-height: 600px;
  }
}

@media (max-width: 736px) {
  #demo-1 {
    min-height: 560px;
  }
}

@media (max-width: 640px) {
  #demo-1 {
    min-height: 500px;
  }
}

@media (max-width: 600px) {
  #demo-1 {
    min-height: 440px;
    padding: 6em 0;
  }
}
